{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="{% static 'style.css' %}" />
  <title>Django URL Shortener</title>
</head>
<body>
  <div class="container">
    {% if link %}
        <div id="output">
          <a target="_blank" href="{% url 'home:browse' link %}">{{ request.META.HTTP_ORIGIN }}/{{ link }}</a>
        </div>
    {% endif %}
    <form method="post" id="form">
    {% csrf_token %}
      <input
      type="url"
      placeholder="Enter URL..."
      name="url"
      required />
    <button id="form-btn">Shorten url</button>
  </form>
</div>
</body>
</html>